@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WU Forex Aggregator</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-custom">
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="dropdown">
            <label for="source">Source Currency:</label>
            <select name="cars" id="source">
                <option value="US Dollar">US Dollar</option>
                <option value="Euro">Euro</option>
                <option value="INR">INR</option>
                <option value="Yen">Yen</option>
            </select>

            <label for="target">Target Currency:</label>
            <select name="cars" id="target">
                <option value="INR">INR</option>
                <option value="Euro">Euro</option>
                <option value="Yen">Yen</option>
                <option value="US Dollar">US Dollar</option>
            </select>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="css/bootstrap.js"></script>
</body>
</html>