@model List<ForexAggregator.Web.Models.Provider>
<table class="table">
    @if (Model != null)
    {
        
        foreach (var item in Model.OrderByDescending(x=>x.Rate))
        {
            <tr>
                <td>
                    <div style="padding:10px; border: 1px solid gray; border-radius: 10px;">
                        <table>
                            <tr>
                                <td class="float-left">Provider Name:</td>
                                <td class="float-left">@item.ProviderName</td>
                            </tr>
                            <tr>
                                <td class="float-left">Rate:</td>
                                <td class="float-left">@item.Exchange.FirstOrDefault().ExchangeRate</td>
                            </tr>
                            <tr>
                                <td><button type="button" id="provider-@item.ProviderId" class="float-left btn-primary btnSelectProvider">Select</button></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        }
    }
</table>