@using ForexAggregator.Web.Helper
@using ForexAggregator.Web.Models
@{
    ViewData["Title"] = "Home page";
    var usedData = Context.Session.GetObjectFromJson<UserData>("UserName");
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TargetCurrency").val('GBP');
        $('#SourceCurrency').change(function () {
            $("#TargetCurrency > option").each(function () {
                $(this).prop('disabled', false);
            });
            $("#TargetCurrency option[value*=" + $(this).val() + "]").prop('disabled', true);
            getCurrentRate();
        });

        $('#TargetCurrency').change(function () {
            $("#SourceCurrency > option").each(function () {
                $(this).prop('disabled', false);
            });
            $("#SourceCurrency option[value*=" + $(this).val() + "]").prop('disabled', true);
            getCurrentRate();
        });

        $.ajax({
            url: '/Home/GetCurrency',
            type: 'get',
            success: function (data) {
                var options = "";
                $.each(data, function (i, item) {
                    options += "<option value='" + item.currencyCode + "'>" + ((item.currencyName) + " - " + (item.currencySymbol)) + "</option>";
                });
                $("#SourceCurrency").html(options);
                $("#TargetCurrency").html(options);
                $("#TargetCurrency").val('GBP');
                
            }
        }).done(function () {
            $("#TargetCurrency > option").each(function () {
                $(this).prop('disabled', false);
            });
            $("#TargetCurrency option[value*=" + $('#SourceCurrency').val() + "]").prop('disabled', true);
            $("#SourceCurrency > option").each(function () {
                $(this).prop('disabled', false);
            });
            $("#SourceCurrency option[value*=" + $('#TargetCurrency').val() + "]").prop('disabled', true);
            getCurrentRate();
        });

        function getCurrentRate() {
            $('#currentRateDiv').hide();
            $.ajax({
                url: '/Home/GetCurrentRate?sourceCurrency=' + $('#SourceCurrency').val() + '&targetCurrency=' + $('#TargetCurrency').val(),
                type: 'get',
                success: function (data) {
                    $('#lblSourceCurrency').html($('#SourceCurrency').val());
                    $('#lblTargetCurrency').html(parseFloat(data[0].h).toFixed(2) + ' ' + $('#TargetCurrency').val());
                    $('#currentRateDiv').show();
                }
            });
        }

        $('#btnProvider').click(function () {
            $('#providerList').html('<h2>Loading</h2>');
            $.ajax({
                url: '/Home/GetProviders?sourceCurrency=' + $('#SourceCurrency').val() + '&targetCurrency=' + $('#TargetCurrency').val(),
                type: 'get',
                success: function (data) {
                    $('#providerList').html(data);
                }
            });
        });

        $(document).on('click', '.btnSelectProvider', function (e) {
            window.location = '/Home/ProviderHistory?providerId=' + $(this).attr('id').split('-')[1] + '&sourceCurrency=' + $('#SourceCurrency').val() + '&targetCurrency=' + $('#TargetCurrency').val();
        });
    });
</script>

<div class="container text-center">
    <table class="table">
        <tr>
            <td>
                <label for="source">Source Currency:</label>
                <select id="SourceCurrency" class="form-control"></select>
            </td>
            <td>
                <label for="target">Target Currency:</label>
                <select id="TargetCurrency" class="form-control"></select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="text-center" id="currentRateDiv" style="display:none;">
                    <span>Current Rate <lable id="selectedSource">1 <lable id="lblSourceCurrency"></lable> : </lable></span>
                    <span><label id="selectedTarget"><lable id="lblTargetCurrency"></lable></label></span>
                </div>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-2 ">
            @if (usedData != null)
            {
                <button type="button" id="btnProvider" class="btn btn-primary">Show Provider List</button>
            }
            else
            {
                <a href="/Account/Login" class="btn btn-primary">Show Provider List</a>
            }
        </div>
    </div>

    <div class="form-group">
        <div id="providerList" class="col-sm-offset-2 ">
            
        </div>
    </div>
</div>


