@model List<ForexAggregator.Web.Models.Provider>
@{
    ViewData["Title"] = "Home page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TargetCurrency").val(2);
        $('#SourceCurrency').change(function () {
            $("#TargetCurrency > option").each(function () {
                $(this).prop('disabled', false);
            });
            $("#TargetCurrency option[value*=" + $(this).val() + "]").prop('disabled', true);
        });

        $('#TargetCurrency').change(function () {
            $("#SourceCurrency > option").each(function () {
                $(this).prop('disabled', false);
            });
            $("#SourceCurrency option[value*=" + $(this).val() + "]").prop('disabled', true);
        });

        $.ajax({
            url: '/Home/GetCurrency',
            type: 'get',
            success: function (data) {
                console.log(data);
                var options = "";
                $.each(data, function (i, item) {
                    options += "<option value='" + item.id + "'>" + ((item.currencyName) +" - "+ (item.currencySymbol))+ "</option>";
                });
                $("#SourceCurrency").html(options);
                $("#TargetCurrency").html(options);
                $("#TargetCurrency").val(2);
            }
        });
    });
</script>

<div class="container text-center">
    <table class="table">
        <tr>
            <td>
                <label for="source">Source Currency:</label>
                <select id="SourceCurrency" class = "form-control"></select>
            </td>
            <td>
                <label for="target">Target Currency:</label>
                <select id="TargetCurrency" class = "form-control"></select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="text-center">
                    <span>Current Rate <lable id="selectedSource">1 USD : </lable></span>
                    <span><label id="selectedTarget">80 INR</label></span>
                </div>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-2 ">
            <button type="submit" class="btn btn-primary">Show Provider List</button>
        </div>
    </div>
    <table>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span>Provider Name: </span> @item.ProviderName
                                    <button type="submit" class="btn btn-primary">Select</button>
                                    <br />
                                    <label>Rate: </label> 20
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        }
    </table>
</div>


