@model List<ForexAggregator.Web.Models.Provider>
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <table class="table">
        <tr>
            <td>
                <label for="source">Source Currency:</label>
                <select class="form-control" id="source">
                    <option value="US Dollar">US Dollar</option>
                    <option value="Euro">Euro</option>
                    <option value="INR">INR</option>
                    <option value="Yen">Yen</option>
                </select>
            </td>
            <td>
                <label for="target">Target Currency:</label>
                <select class="form-control" id="source">
                    <option value="US Dollar">US Dollar</option>
                    <option value="Euro">Euro</option>
                    <option value="INR">INR</option>
                    <option value="Yen">Yen</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="text-center">
                    <span>Current Rate <lable id="selectedSource">1 USD : </lable></span>
                    <span><label id="selectedTarget">80 INR</label></span>
                </div>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-2 ">
            <button type="submit" class="btn btn-primary">Show Provider List</button>
        </div>
    </div>
    <table>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>
                            <span>Provider Name: </span> @item.ProviderName
                            <button type="submit" class="btn btn-primary">Select</button>
                            <br />
                            <label>Rate: </label> 20
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        }
    </table>
</div>


